/* app/recette/[slug]/page.module.css */

.mainWrapper {
  background: #FFFFFF;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
}

.cardDetail {
  background: #FFFFFF;
  overflow: hidden;
  display: flex;
}

.heroImage {
  position: relative;
  width: 50%;
  height: 738px; /* Hauteur visuelle impactante */
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.timeBadge {
  background-color: #FFD15B; /* Jaune signature */
  padding: 8px 20px;
  border-radius: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #1B1B1B;
}

.content {
  padding: 0 60px;
  width: 50%;
}

.title {
  font-family: 'Anton', sans-serif; /* Police des titres Figma */
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #1B1B1B;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subTitle {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #7A7A7A; /* Gris des sous-titres Figma */
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  font-weight: 700;
}

/* --- Section Ingrédients --- */
.ingredientsSection {
  display: flex;
  flex-direction: column;
}
.ingredientsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  padding: 0;
  margin: 0;
  gap: 2rem;
}
.ingredientItem {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.ingName {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #1B1B1B;
}

.ingQty {
  font-family: 'Manrope', sans-serif;
  color: #7A7A7A;
  font-size: 14px;
}

/* --- Section Instructions --- */
.instructionItem{
  color: #1B1B1B;
}

.stepTitle{
  font-weight: 600;
  margin-bottom: 6px;
}

.stepList{
  margin-left: 40px;
  list-style-type: disc;
}

.stepList li{
  margin-bottom: 4px;
  line-height: 1.5;
}


@media (max-width: 640px) {
  .content {
    padding: 20px 0;
    width: 100%;
  }

  .title {
    font-size: 24px;
  }

  .heroImage {
    height: 200px;
    width: 100%;
  }

  .ingredientsList {
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes sur mobile */
    gap: 1.5rem;
  }
  .cardDetail {
    flex-direction: column;
  }
}