.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1; /* take available vertical space from body */
  background-color: #EDEDED; /* Gris clair de ton image */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}

.errorCode {
  font-family: 'Anton', sans-serif;
  font-size: 150px;
  color: #FFD15B; /* Jaune de ton image */
  margin: 0;
}

.errorMessage {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  color: #000;
  margin-top: -20px;
}

.description {
  font-family: 'Manrope', sans-serif;
  color: #7A7A7A;
  max-width: 450px;
  margin: 20px 0 40px;
  line-height: 1.5;
}

.backBtn {
  background-color: #1B1B1B;
  color: white;
  padding: 15px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  transition: opacity 0.2s;
}

.backBtn:hover {
  opacity: 0.8;
}
